body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #2196f3
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.6);
    border-radius: 5px;
    cursor: pointer;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(75, 75, 75, 0.6);
}
